name: CI

on:
  push:
    branches:
      - main 
  pull_request:
    branches:
      - main


jobs:
  generate_tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: npm install
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: npm install

      - name: lint
        run: npm run lint:check
      
      - name: run applicatiob
        run: npm run dev:firefox

      - name: create zip
        run: zip -r app.zip ./dist/firefox/*

      - name: Upload artifact
        uses: actions/upload-artifact@v4
